*{
	margin: 0;
    padding: 0;
}

body{
	background:url("img/bg1.jpg") no-repeat ;
	background-size: cover;
}


#mainHeading {                  /**********hi! I am Kushal Verma***********/
	color:#174BA0;
	padding-left: 400px; 
	font-family: 'Patrick Hand SC', cursive; 
	font-size: 80px;
	text-shadow: 2px 2px black ;
}

.icon {                        /*************all icon***********/
	width: 2%;	
	position: right;
	vertical-align: middle;
}
.lang {                        /***********language icons**********/
	vertical-align: middle;
	width:80px;
	height:80px;
}
section{                          /********section divisions********/
	position: relative;
	background-color: none;
	opacity: 0.6;
	width:100%; 
	height:150px;
}

#line1, #line2, #line3, #line4{    /**********about me, my skills, my interests, contact me*********/
	font-size: 40px;
	color: black;	
	font-weight: bold;
	font-style: italic;
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	margin-top: 30px; 

}
.details p:hover{              /*******on hovering 'contact me'*******/
	font-weight: bold;
	font-size: 25px;

}
.details > p{                 /******contact me details*******/
	text-align: center;
}

section > div {                 /*************content of section division***********/
	display: none;
	text-align: center;
	color:#067719;
	font-size: 20px;
	font-family:'Noto Serif', serif;
}
section:hover >div {
	display: block;
}